:root{
    --primary : black;
    --secondary : grey;
    --link : blue;
    --link-visited : purple;
    --background : white;
    --tag: rgb(232, 232, 232);
}

@media (prefers-color-scheme: dark) {
    :root{
    --primary : white;
    --secondary : grey;
    --link : cyan;
    --link-visited : fuchsia;
    --background : black;
    --tag: rgb(62, 62, 62);
}}

body{
    background: var(--background);
    color: var(--primary);
}

a{
    color: var(--link);
}

a:visited{
    color: var(--link-visited);
}

.tag{
    font-family: monospace;
    background-color: var(--tag);
    margin-left: 0.25rem;
    padding: 1px;
}